/*Data container is the container around the data grid. 
Button container is the container around the view all data button & view file button*/
.data-container {
    position: relative;
    overflow: hidden;
    width: 94%;
    margin: 0 auto;
}

.button-container {
    text-align: right;
    height: 40px;
}

.view-all-btn, .view-single-btn {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-family: sans-serif;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.view-all-btn:hover, .view-single-btn:hover {
  background-color: #0056b3;
}
